flows.json
[
    {
        "id": "7ffa7ce22a3f3bbc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "524925672ae793ca",
        "type": "mqtt in",
        "z": "7ffa7ce22a3f3bbc",
        "name": "",
        "topic": "training/device/mironcosmin/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4282b579900ca26d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 180,
        "wires": [
            [
                "4080289e19be2acc",
                "00a5ecf81ce48622"
            ]
        ]
    },
    {
        "id": "4080289e19be2acc",
        "type": "influxdb out",
        "z": "7ffa7ce22a3f3bbc",
        "influxdb": "0b213e9b8e58838d",
        "name": "",
        "measurement": "Temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Beia",
        "bucket": "DataBase",
        "x": 540,
        "y": 280,
        "wires": []
    },
    {
        "id": "00a5ecf81ce48622",
        "type": "debug",
        "z": "7ffa7ce22a3f3bbc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "4282b579900ca26d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.beia-telemetrie.ro",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0b213e9b8e58838d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "DataBase",
        "usetls": false,
        "tls": "11bbba91284bd5be",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com/",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "11bbba91284bd5be",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]